<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
		<meta name="Description" content="..." />
		<meta name="Keywords" content="..." />
		<meta name="robots" content="all,follow" />
		<meta name="author" content="..." />
		<meta name="copyright" content="Mantis-a [http://www.mantisa.cz/]" />
		<link
				rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
				integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
				crossorigin="anonymous"
		/>
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
	
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
		<!-- CSS -->
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen, projection, tv" />
		<link rel="stylesheet" href="css/style-print.css" type="text/css" media="print" />
	
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	
		<title>NapominalKo | Поиск напоминаний</title>
</head>

<body>
<div id="wrapper">

	<!-- Title -->
	<div class="title">
		<div class="title-top">
			<div class="title-left">
				<div class="title-right">
					<div class="title-bottom">
						<div class="title-top-left">
							<div class="title-bottom-left">
								<div class="title-top-right">
									<div class="title-bottom-right">
										<h1><a href="/" title="Go to homepage">NAPOMINAL <span>KO</span></a></h1>
										<p>Всегда на страже твоей памяти</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Title end -->

	<hr class="noscreen" />

	<div class="content">

		<div class="column-left">
			<h3>Меню</h3>
			<a href="#skip-menu" class="hidden">Skip menu</a>
			<ul class="menu">
				<li><a href="/home">Домашняя страница</a></li>
				<li><a href="/notes">Мои напоминалки</a></li>
				<li><a href="/search" class="active">Поиск напоминаний</a></li>
				<li class="last"><a href="/logout">Выйти из аккаунта</a></li>
			</ul>
		</div>

		<div id="skip-menu"></div>
		<div class="column-right">
			<div class="box">
				<div class="box-top">
				</div>
				<div class="box-in">
						<form method='post' action='/searchNote'>
                            <div class="row">
                                <p>Заголовок:<Br>
                                    <textarea name="header" cols="40" rows="1"></textarea></p>
                            </div>
                            <div>
                            <label><input type="radio" name="important" value="true" /> Важное</label>
                            <label><input type="radio" name="important" value="false"/> Не важное</label>
                            </div>
                            <br/>
                            <div>
                                <label><input type="radio" name="kind" value="Работа"/> Работа</label>
                                <label><input type="radio" name="kind" value="Учеба"/> Учеба</label>
                                <label><input type="radio" name="kind" value="Семья"/> Семья</label>
                                <label><input type="radio" name="kind" value="Быт"/> Быт</label>
                                <label><input type="radio" name="kind" value="Личная жизнь"/> Личная жизнь</label>
                            </div>
                            <div class="row">
                                <p><input type="submit" class='btn btn-outline-success' value="Найти"></p>
                            </div>
						</form>
						<br/>
						<br/>
						<%if (obj.length==0){%>
							<center><h3><b>Нет результатов по запросу</b></h3></center>
							 <%} else if(obj===1){%>
								 <center><h3><b>Проблемы с соединением</b></h3></center>
							 <%}else{%>
								<% let options = {year: 'numeric',	month: 'numeric', day: 'numeric',hour: 'numeric',minute: 'numeric'}%>
									<%let Now = new Date().toLocaleString('ru', options)%>
									<%let date = Now.split(' ')[0]%>
									<%let time = Now.split(' ')[1]%>
									<%let year = date.split('-')[2]%>
									<%let month = date.split('-')[1]%>
									<%let day = date.split('-')[0]%>
									<%let hour = +time.split(':')[0]%>
									<%let minute = +time.split(':')[1]%>
									<% for(note of obj){%>
										<%let important = (note.Important) ? "Важно" : "Не важно";%>
										<%let Nyear = +note.Time.split('T')[0].split('-')[0]%>
										<%let Nmonth= +note.Time.split('T')[0].split('-')[1]%>
										<%let Nday= +note.Time.split('T')[0].split('-')[2]%>
										<%let Nhour = +note.Time.split('T')[1].split(':')[0]%>
										<%let Nminute = +note.Time.split('T')[1].split(':')[1]%>
										<h2><%=note.Title%></h2>
										<ul><li><%=note.Text%></li></ul><br/>
										<%=Nday + '.' +  Nmonth + '.' + Nyear + ' ' + note.Time.split('T')[1]%><br/>
										<%= important %><br/>
										<%if(note.Kind){%>
											<%= note.Kind %><br />
										<%}%>
										<button type="button"  class="btn btn-outline-danger btn-md white " onclick="deleteNote(value)"  value='<%=JSON.stringify({"note" : note._id })%>' >Удалить</button><br/><br/>
									<%}%>
							<%}%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script>
	function deleteNote(note) {
    $.post('/deleteNote', JSON.parse(note))
    window.location.reload()
}

</script>
</html>